<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UDT - DART Tool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header>
        <section class="site-banner">
            <a href="http://www.udtonline.com/" target="_blank" class="site-logo-link">
                <img class="site-logo" src="~/Content/images/udt-logo.png" alt="UDT Logo" />
            </a>
            <span class="site-title">MDCPS Asset Management</span>
            <nav id="account-section">
                <ul>
                    <li><a href="/@{ @ViewBag.Client }/Assign_Student_Device">Home</a></li>
                    <li><a href="https://creator.zoho.com/logoutpage.jsp?sharedBy=@{ @ViewBag.Client }&appID=657371000007705003&appLinkName=udt-asset-managent&signOutUrl=udtorlando/udt-asset-managent/form-login/Assign_Student_Device">Sign out</a></li>
                </ul>
            </nav>
        </section>
        <nav class="site-nav-menu">
            <ul class="menu-list">
                <li class="menu-list-item @{ @ViewBag.Assign_Student_Device_Menu_selected }">
                    <a href="/@{ @ViewBag.Client }/Assign_Student_Device" class="menu-link">Level 1 Access</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item @{ @ViewBag.Assign_Student_Device_Drop_selected }">
                            <a href="/@{ @ViewBag.Client }/Assign_Student_Device" class="menu-link">One Click Assign Student Device</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.One_Click_Return_selected }">
                            <a href="/@{ @ViewBag.Client }/One_Click_Return" class="menu-link">One Click Return</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.One_Click_Asset_Inventory_Check_selected }">
                            <a href="/@{ @ViewBag.Client }/One_Click_Asset_Inventory_Check" class="menu-link">One Click Asset Inventory Check</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-list-item @{ @ViewBag.One_Click_Lost_Stolen_Menu_Selected }">
                    <a href="/@{ @ViewBag.Client }/One_Click_Lost_Stolen" class="menu-link">Level 2 Access</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item @{ @ViewBag.One_Click_Lost_Stolen_Drop_Selected }">
                            <a href="/@{ @ViewBag.Client }/One_Click_Lost_Stolen" class="menu-link">One Click Lost / Stolen</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.One_Click_Not_Returned }">
                            <a href="/@{ @ViewBag.Client }/One_Click_Not_Returned" class="menu-link">One Click Not Returned</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.One_Click_Recovered }">
                            <a href="/@{ @ViewBag.Client }/One_Click_Recovered" class="menu-link">One Click Recovered</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Service_Ticket_Entry }">
                            <a href="/@{ @ViewBag.Client }/Service_Ticket_Entry" class="menu-link">Service Ticket Entry</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Service_Entry_View }">
                            <a href="/@{ @ViewBag.Client }/Service_Entry_View" class="menu-link">Service Entry View</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Level_2_Assets_View }">
                            <a href="/@{ @ViewBag.Client }/Level_2_Assets_View" class="menu-link">Level 2 Assets View</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.School_Assets_Filtered }">
                            <a href="/@{ @ViewBag.Client }/School_Assets_Filtered" class="menu-link">School Assets Filtered</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.One_Click_Group_Loaners }">
                            <a href="/@{ @ViewBag.Client }/One_Click_Group_Loaners" class="menu-link">One-Click Group Loaners</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Devices_Assigned_to_a_Loaner_Group }">
                            <a href="/@{ @ViewBag.Client }/Devices_Assigned_to_a_Loaner_Group" class="menu-link">Devices Assigned to a Loaner Group</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Level_2_Logs }">
                            <a href="/@{ @ViewBag.Client }/Level_2_Logs" class="menu-link">Level 2 Logs</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-list-item @{ @ViewBag.Relocate_Device_Menu_Selected }">
                    <a href="/@{ @ViewBag.Client }/Relocate_Device" class="menu-link">Record Maintenance</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item @{ @ViewBag.Relocate_Device_Drop_Selected }">
                            <a href="/@{ @ViewBag.Client }/Relocate_Device" class="menu-link">Relocate Device</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Relocate_Device_Report }">
                            <a href="/@{ @ViewBag.Client }/Relocate_Device_Report" class="menu-link">Relocate Device Report</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.School_Locations }">
                            <a href="/@{ @ViewBag.Client }/School_Locations" class="menu-link">School Locations</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.School_Locations_Report }">
                            <a href="/@{ @ViewBag.Client }/School_Locations_Report" class="menu-link">School Locations Report</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-list-item @{ @ViewBag.Asset_Entry_Menu_Selected }">
                    <a href="/@{ @ViewBag.Client }/Asset_Entry" class="menu-link">Entry Forms</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item @{ @ViewBag.Asset_Entry_Drop_Selected }">
                            <a href="/@{ @ViewBag.Client }/Asset_Entry" class="menu-link">Asset Entry</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Student_Owed_Fees }">
                            <a href="/@{ @ViewBag.Client }/Student_Owed_Fees" class="menu-link">Student Owed Fees</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Student_Feed }">
                            <a href="/@{ @ViewBag.Client }/Student_Feed" class="menu-link">Student Feed</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-list-item @{ @ViewBag.Assets_View_Menu_Selected }">
                    <a href="/@{ @ViewBag.Client }/Assets_View" class="menu-link">Views</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item @{ @ViewBag.Assets_View_Drop_Selected }">
                            <a href="/@{ @ViewBag.Client }/Assets_View" class="menu-link">Assets View</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Student_Owed_Fees_View }">
                            <a href="/@{ @ViewBag.Client }/Student_Owed_Fees_View" class="menu-link">Student Owed Fees View</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Student_Feed_View }">
                            <a href="/@{ @ViewBag.Client }/Student_Feed_View" class="menu-link">Student Feed View</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Group_Device_Assignment }">
                            <a href="/@{ @ViewBag.Client }/Group_Device_Assignment" class="menu-link">Group Device Assignment</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Open_Repair_Tickets }">
                            <a href="/@{ @ViewBag.Client }/Open_Repair_Tickets" class="menu-link">Open Repair Tickets</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-list-item @{ @ViewBag.Number_of_BrokenUnits_Menu_Selected }">
                    <a href="/@{ @ViewBag.Client }/Number_of_BrokenUnits" class="menu-link">Global Reports</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item @{ @ViewBag.Number_of_BrokenUnits_Drop_Selected }">
                            <a href="/@{ @ViewBag.Client }/Number_of_BrokenUnits" class="menu-link">Number of Broken Units</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Number_of_Units_Per_Location }">
                            <a href="/@{ @ViewBag.Client }/Number_of_Units_Per_Location" class="menu-link">Number of Units Per Location</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Broken_Units_Per_School }">
                            <a href="/@{ @ViewBag.Client }/Broken_Units_Per_School" class="menu-link">Broken Units Per School</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Broken_Units_Per_Month }">
                            <a href="/@{ @ViewBag.Client }/Broken_Units_Per_Month" class="menu-link">Broken Units Per Month</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Serial_Numbers }">
                            <a href="/@{ @ViewBag.Client }/Serial_Numbers" class="menu-link">Serial Numbers</a>
                        </li>
                        <li class="dropdown-list-item @{ @ViewBag.Number_of_Assigned_Devices_Per_Location }">
                            <a href="/@{ @ViewBag.Client }/Number_of_Assigned_Devices_Per_Location" class="menu-link">Number of Assigned Devices Per Location</a>
                        </li>
                    </ul>
                </li>
                <li class="menu-list-item @{ @ViewBag.Asset_Logs_Report_View_Menu_Selected }">
                    <a href="/@{ @ViewBag.Client }/Asset_Logs_Report_View" class="menu-link">Logs</a>
                    <ul class="dropdown-list">
                        <li class="dropdown-list-item @{ @ViewBag.Asset_Logs_Report_View_Drop_Selected }">
                            <a href="/@{ @ViewBag.Client }/Asset_Logs_Report_View" class="menu-link">Asset Logs View</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>